<footer class="site-footer">

  <div class="container">
      <div class="row">
          <div class="col-12 col-md-4 p-3 ">
            <h2>Contact</h2>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>

          <div class="col-12 col-md-4 p-3">
            <h2>Collaborate</h2>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSce0lWiZFMe4HnqgM9iaXDVhpwG06_GNLGKKYR2mcQGlhQ4rQ/viewform">
                Submit a project idea </a><br>
              <a href="/projects">
                Join an existing project </a>
          </div>

          <div class="col-12 col-md-4 p-3">
            <h2>Connect</h2>
              <a href="{{site.github_url}}">
                GitHub </a>
              <a href="{{ site.twitter_url }}">
                Twitter </a>
              <a href="{{ site.meetup_url }}">
                Meetup </a>
          </div>

    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74039819-1', 'auto');
  ga('send', 'pageview');

</script>
